{% extends 'base.html'%}


{% block title %}About{% endblock %}
{% block content %}

<h2>From About Page!!lame</h2>
<p>Hello from, {{first}}</p>


<table class="table table-bordered">
{% if all_items %}

 {% for i in all_items %}

 	{% if i.compleated %}
	 	<tr class="table-secondary">
	 		<td>{{i.item}}</td>
	 		<td><center>{{i.compleated}}</center></td>
	 		<td><center>Delete</center></td>
	 	</tr>
 	{% else %}
	 	<tr>
	 		<td>{{i.item}}</td>
	 		<td><center>{{i.compleated}}</center></td>
	 		<td><center>Delete</center></td>
	 	</tr>
	 {% endif %}


 {% endfor %}
 {% endif %}
</table>
{% endblock %}